
/* General rules*/

a{
  background-color: transparent;
  text-decoration: none;
  color: black;
}
a:hover{
  color: #527D9F;
}
* {
  margin: 0;
  padding: 0;
  border: 0;
}

html{
  font-size: small;
}
body{
  background-color: #F2F6F9;
}

/* rules for the main content in the central body */

.standard{
  width: 100%;
  max-width: 1260px;
}
.standard-max{
  width: 100%;
  max-width: 100%;
}

#mobileHeader{
  display: none;
}

.scroll{
  flex-direction: row;
  overflow-x: auto;
  flex-wrap: nowrap;
}
#topHeader{
  background: #073860;
  color: white;
  font-weight: bold;
}
.navbar-blue-background{
  background: #073860;

}
.nav-bottom-border{
  border-top: 1px solid #CCC;
  border-bottom: 2px solid #CCC;
  color: #16507E;
  font-weight: bold;
}
.nav-bottom-li-border{
  border-right: 1px solid #CCC;
}
.match-style{
  background: #F0F0F0;
  font-weight: bold;
  font-size: 10px;
}
#soccer-bar{
  overflow: hidden;
}
#mobile-soccer-bar{
  display: none;
}
.mobile-soccer-bar-content{
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  flex-wrap: nowrap;
}
.soccer-logo-dimensions{
  width: 96px;
  height:48px;
}

#header-collapse{
  width : 100%; max-width: 100%; resize: horizontal;
}
.padding-margin-0{
  padding:0;
  margin:0;
}

/* media queries for the responsive design */

@media only screen and (max-width: 1220px) {

  #soccer-bar{
    display:none;
  }
  #mobile-soccer-bar{
    display: block;
  }
}
#firstTopArticle{
  display: none;
}

@media only screen and (max-width: 768px) {
  #topHeader{
    background: white;
  }
  .navbar-blue-background{
    background: white;
  }
  #header-collapse{
    display: none;
  }
  #mobileHeader{
    display: block;
  }
  #mobile-soccer-bar{
    display: block;
  }
  #sideBar{
    display: none;
  }
  #firstTopArticle2{
    display: none;
  }
  #firstTopArticle{
    display: block;
    margin-left: 15px;
    padding-left: 15px;
    padding-right: 0;
  }
  #footer{
    display: none;
  }
}

/* rules for the sidebar and the central body content */

#list{
  color: white;
}

#topDrop{
  width:1050px;
  height:200px;
}
.content{
  max-width: 1260px;
}
#editoriale{
  padding-top:15px;
  padding-bottom: 1px;
  margin-bottom: 0;
  margin-left: 15px;
  border-bottom: 1px solid #000
}
.scroll-editoriale{
  border-top: 1px solid #CCC;
  border-bottom: 1px solid #CCC;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size:15px;
}
.border-editoriale{
  border-right: 1px solid #CCC
}
.margin-editoriale-element{
  margin-right: 15px
}
.margin-p-editoriale{
  margin-bottom: 5px
}
.font-author-editoriale{
  font-size:15px; color: grey
}
.section-title{
  color: #000;
  border-bottom: 1px solid #c8d7e1;
  padding-top: 24px;
  font-size: 21px;
  max-width: fit-content;
  font-weight: bold;
  border-bottom: 1px solid #000000;
  margin-bottom: 0;
  padding-bottom:0;
}

.article-title{
  font-size:42px;
  font-weight: bold;
}
.article-top-title{
  color:black;
  font-weight: bold;
}
.of4{
  font-size: 20px;
  font-weight: bold;
}
.under_section_title{
  border-bottom: 1px solid #C8D7E1;
  padding-bottom: 0;
  margin-right: 2px
}
.image-button-container{
  position: relative;
}
.image-button-big{
  position: absolute;
  top: 85%;
  left: 10%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #555;
  color: white;
  font-size: 16px;
  border: none;
  cursor: pointer;
  text-align: center;
  width: 20%;
  height: 30%;
}
.top-2-side{
  font-size: 20px;
  font-weight: bold;

}
.image-button-tiny{
  position: absolute;
  top: 85%;
  left: 10%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #555;
  color: white;
  font-size: 16px;
  border: none;
  cursor: pointer;
  text-align: center;
  align-items: center;
  width: 20%;
  height: 30%;
  padding: 0;
}
.video-text-tiny{
  font-size: 16px;
  font-weight: 900;
  line-height: 21px;
  color: #4c4c4c;
  margin-bottom: 6px;
}
.video-tiny-border{
  border-bottom: 2px solid #CCC;
  padding-bottom: 15px;
}
.titleOfThree{
  color: #2B628E;
}
.sidebar_article{
  border-bottom: 1px solid #CCC;
  padding-bottom: 15px;
}

/* rules for the footer*/

#footer{
  background: #073860;
  color: white;
  text-decoration: white;
}
#footer a{
    color: white;
    text-decoration: none;
}
